h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul,
fieldset {
	margin: 0;
}

ol,
ul {
	list-style: none;
	padding-inline-start: 0;
}

h1,
h2,
h3,
h4,
h5 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	display: block;
	max-inline-size: 100%;
}

html {
	font-family: "Poppins", sans-serif;
	scroll-behavior: smooth;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

@media screen and (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

@media screen and (max-width: 992px) {
	.container {
		max-width: 720px;
	}
}

@media screen and (max-width: 768px) {
	.container {
		max-width: 540px;
	}
}

@media screen and (max-width: 576px) {
	.container {
		max-width: 100%;
		padding: 0 15px;
	}
}